#sidebar
  text-align: right
  width: 180px !important
  padding: 35px 25px 0 14px
  @media mq-normal
    column(sidebar-column)
    box-sizing: border-box
    margin: 0px

.widget-wrap
  margin: 0 0 15px 0
  border-bottom: 1px solid #CDCDCD
  padding-bottom: 15px

.widget-title
  text-decoration: none
  text-transform: none
  letter-spacing: 0px
  color: #000
  margin-bottom: 0.6em
  margin-left: 5px
  line-height: 1em
  text-shadow: 0 1px #fff
  font-weight: bold
  font-size: 0.85em

.widget
  color: color-default
  padding: 0px
  a
    color: #000
    text-decoration: none
    &:hover
      color: #f47321
    &.current
      color: #f47321
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: inherit
